.imageGalleryList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  justify-content: center;
}

.imageGalleryListItem img {
  height: 267px;
  width: 400px;
}

.imageGalleryListItem {
  width: ((100% - 40px) / 3);
}
